<h1>Your Order: </h1>

<ul>
  <li>Order Number <%= @order.id %></li>
  <li>Product <%= @order.product.name %></li>
  <li>Subtotal <%= @order.subtotal %></li>
  <li>Tax <%= @order.tax %></li>
  <li>Total <%= @order.total %></li>
</ul>