<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1>Showing <%= @product.name %></h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <img src="<%= @product.image %>" class="img-responsive show-img" alt="<% @product.name %>" >
        </div>
        <div class="col-md-5">
          <div class="row">
              <div class="container-fluid">
            <div class="jumbotron">
              <p><%= @product.description %></p>
              <p>Price: Rwf<%= @product.price %></p> <br>
              <p>Tax: Rwf<%= @product.vat %></p>
              <p>Supplier: <%= @product.supplier.name %></p>
            </div>
          </div>
            <div class="button-group">
              <%= link_to 'Home', root_path %> |
              <%= link_to 'Edit', edit_product_path(@product) %> |
              <%= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: 'Are you for real? ...deleting me?'} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
