<div class="container-fluid">
  <h2><%= @product.name %></h2>
    <div class="row">
      <div class="col-md-4">
        <% @product.images.each do |image| %>
          <img src="<%= image.url %>" alt="<%= @product.name %>">
        <% end %>
      </div>
    </div>
  <p><%= @product.description %></p>
   <p>Brought to you by: <%= @product.supplier.name %> Ltd.</p>
   <p>Supplier contact: <%= @product.supplier.email %></p>
</div>
