<div class="container-fluid">
  <h2><%= @product.name %></h2>
    <div class="row">
      <div class="col-md-6">
        <% @product.images.each do |image| %>
          <img src="<%= image.url %>" alt="<%= @product.name %>">
        <% end %>
      </div>
    </div>
    <div class="container">
      <% if current_user %>
      <%= form_tag "/cart", method: :post do %>
        <div>
          Quantity: <input type="text" name="quantity">
        </div>
        <div>
          <input type="hidden" name="product_id" value="<%= @product.id %>">
        </div>
        <div>
          <input type="submit" value="Add To Cart">
        </div>
      <% end %>
    <% end %>
    <%= link_to "Edit", edit_product_path(@product), class: "btn btn-default" %>
    <%= link_to "Delete", "/products/#{@product.id}", method: :delete %>

    <p><%= @product.description %></p>
     <p><strong>Brought to you by:</strong> <%= @product.supplier.name %> Ltd.</p>
     <p><strong>Supplier contact:</strong> <%= @product.supplier.email %></p>
     </div>
</div>
